<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3307/rosesoftwaretr1?zeroDateTimeBehavior=convertToNull&amp;useUnicode=true&amp;characterEncoding=utf-8</property>
    <property name="hibernate.connection.username">rosesoftwaretr1</property>
    <property name="hibernate.connection.password">rB.2064269</property>
    <mapping resource="com/football/site/entity/Teams.hbm.xml"/>
    <mapping resource="com/football/site/entity/FixturesTeamMatchResult.hbm.xml"/>
    <mapping resource="com/football/site/entity/Leagues.hbm.xml"/>
    <mapping resource="com/football/site/entity/Leaguetable.hbm.xml"/>
    <mapping resource="com/football/site/entity/TokenInfo.hbm.xml"/>
    <mapping resource="com/football/site/entity/Players.hbm.xml"/>
    <mapping resource="com/football/site/entity/Fixtures.hbm.xml"/>
    <mapping resource="com/football/site/entity/LeagueTableTeamStatistics.hbm.xml"/>
    <mapping resource="com/football/site/entity/LeagueTableRows.hbm.xml"/>
    <mapping resource="com/football/site/entity/UserInfo.hbm.xml"/>
    <mapping resource="com/football/site/entity/FixturesMatchResult.hbm.xml"/>
    <mapping resource="com/football/site/entity/FixturesTeam.hbm.xml"/>
    <mapping resource="com/football/site/entity/LeaguesCountry.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
